/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  --primary-bg-color: #366244;
  --primary-text-color: white;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden,
[hidden] {
  display: none !important;
}
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* End Boilerplate styles */

body {
  margin: 0;
}

#page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem;
  padding-bottom: 0;
  background-color: #16421c;
  font-size: 1.1em;
  position: sticky;
  top: -6.4rem;
  z-index: 1;
  border-bottom: 2px var(--primary-bg-color) solid;
}

.widthbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

header div.widthbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerimg {
  height: 4rem;
  margin-right: .5rem;
}

h1, .subtitle {
  font-family: 'Beleren', serif;
  margin: -.2em 0;
}

.subtitle {
  font-size: 1.33em;
}

article {
  background-color: var(--primary-bg-color);
  padding: 0 2rem 2rem;
}

.faction {
  margin-bottom: 1rem;
}

.faction::after {
  content: "";
  clear: both;
  display: table;
}

.faction > span {
  display: inline-block;
  font-size: 1.5em;
}

.faction > span > span {
  display: inline-block;
  white-space: nowrap;
}

.faction > span h3 {
  display: inline-block;
}

.faction i.ms {
  font-size: .8em;
  margin: 0 .1rem 0;
  vertical-align:
baseline;
}

.faction .card {
  max-width: 300px;
  float: right;
  margin: .6rem -.6rem .6rem .6rem;
}

.faction:nth-of-type(even) .card {
  margin: .6rem .6rem .6rem -.6rem;
  float: left;
}

img.card {
  border-radius: 4%;
}

footer {
  padding: 1rem 2rem;
  font-size: 0.8em;
  margin-top: auto;
  background-color: #16421c;
}

footer p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
}

th {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  background-color: #16421c;
  color: white;
}

td:not(:last-child), th:not(:last-child) {
  width: 1%;
  white-space: nowrap;
}

tr:nth-child(odd){
  background-color: rgba(255,255,255, 0.1);
}

tr:hover {
  background-color: rgba(255,255,255, 0.3);
}


th h3 {
  margin: .8rem 0;
}

.faction h3 {
  margin: .1rem;

}

@media (max-width: 675px) {
  .widthbox {
    width: 100%;
  }

}

@media (max-width: 550px) {
  header {
    padding: 4vw 1vw 0;
    font-size: 3vw;
    top: -16vw;
  }
  header div.widthbox {
    margin-left: 6vw;
    margin-right: 6vw;
  }
  .headerimg {
    height: 9vw;
  }
  .faction .card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  footer {
    padding: 4vw 7vw;
  }
}
